# Configuración de Servidor
PORT=3001

# Credenciales de Resend (Coloca aquí tu API Key de Resend)
RESEND_API_KEY=re_tu_api_key_aqui

# Remitente de correo (Debe coincidir con tu dominio verificado en Resend o onboarding@resend.dev para pruebas)
RESEND_FROM_EMAIL=Paradox Park <info@paradox-park.com>

# Correo de recepción administrativa para notificaciones de registro
ADMIN_NOTIFICATION_EMAIL=Hola@paradox-park.com

# Sede por defecto
PARK_SEDE=Lima - Era Imperium
